*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.jokes-container {
  background-color: rgb(71, 238, 182);
  width: 50%;
  margin: 0 auto;
  padding: 20px 30px;
}
.jokes-title {
  font-size: 26px;
  font-weight: bold;
  color: rgb(27, 105, 21);
  text-align: center;
}
.next-btn {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid rgb(27, 105, 21);
  background-color:  rgb(71, 238, 182);
  color: white;
  font-size: 18px;
}
.download {
  font-size: 24px;
margin-top: 10px;
}
.error {
  font-size: 24px;
  color: red;
  margin-top: 10px;
}
.joke {
  border: 2px solid rgb(27, 105, 21);
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
display: flex;
flex-direction: column;
gap: 10px;
font-size: 18px;
}